* {
    padding: 10px;
    text-align: center;
    
    
}

p{
    font-size: 24px;
    border: 4px ridge rgba(146, 159, 231, 0.6);
}

.my_p{
    text-align: center;
    background-color: rgb(31, 6, 6);
    background-image: linear-gradient(rgba(32, 32, 80, 0.5), rgb(70 140 220 / 50%));
    color: rgb(248, 68, 68);
    margin: 10px 210px 0px;    
    
    
    font:
      24px "Helvetica",
      sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    print-color-adjust: exact;
}

h1{
    color: #587fec;
    font-family: monospace;
}

#my_id{
    color: #67cec9;
    font-family:serif
}

